* {
  font-family: "Source Sans Pro", sans-serif;
}


.header {
  box-shadow: 0px 1px 4px #ccc;
  height: 75px;
}


.bg-primary {
  background-color: #04AA6D !important;
}

.logo {
  width: 45px;
  height: auto;
}

.br-50 {
  border-radius: 50%;
}

.login-btn {
  border-radius: 25px;
  font-size: 12px;
  max-width: 100px;
  min-width: 80px;
  width: 100%;
  line-height: 2;
  padding: 8px 16px;
}

.header .row>* {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.primary-hover{
  min-width: 90px;
}

.primary-hover:hover {
  background-color: #04AA6D;
  color: white;
}


.primary-hover:hover i {
  transform: rotateX(180deg);
}

@media (min-width:861px) {
  .d-xm-flex {
    display: flex!important;
  }

  .d-xm-none{
    display: none!important;
  }
}


@media (min-width:992px) {
    .primary-hover{
      padding: 0 10px;
    }
}